<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Chocotile">
  <title>CHOCOTILE</title>
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="page-preloader"></div>

<div class="back-image"></div>


<div class="page">
    {{>header}}

    <h6 class="category_name">{{cat.name}}</h6>
    <main class="tile-container">
        {{#each news}}
            <a class="tile-item" href="/feed/{{this.id}}">
                <div class="tile-item-back" style="background-image: url('{{this.image}}')">
                </div>
                <div class="tile-item-content">
                    {{this.title}}
                </div>
                {{#if this.is_good}}
                    <div class="isGood good"></div>
                {{else}}
                    <div class="isGood bad"></div>
                {{/if}}
                {{#if this.vip}}
                    <div class="vip"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 241.933 241.933" style="enable-background:new 0 0 241.933 241.933;" xml:space="preserve" width="512px" height="512px">
<g>
	<path d="M213.937,85.577l-18.398-19.016l3.706-26.192c0.567-4.006-2.145-7.74-6.131-8.438l-26.058-4.568L154.652,3.986   c-1.896-3.573-6.287-4.999-9.919-3.222L120.969,12.38L97.199,0.764c-3.635-1.777-8.022-0.35-9.919,3.224L74.881,27.363   L48.82,31.931c-3.985,0.698-6.698,4.432-6.131,8.438l3.705,26.192L27.996,85.577c-2.813,2.908-2.813,7.522,0.001,10.43   l18.397,19.014l-3.705,26.206c-0.566,4.005,2.146,7.739,6.131,8.437l20.857,3.656v81.113c0,2.599,1.346,5.013,3.557,6.379   c1.204,0.745,2.572,1.121,3.943,1.121c1.146,0,2.295-0.262,3.354-0.792l40.439-20.212l40.433,20.212   c2.324,1.162,5.086,1.038,7.297-0.329c2.211-1.367,3.557-3.781,3.557-6.38v-81.111l20.858-3.658   c3.985-0.699,6.697-4.432,6.131-8.438l-3.706-26.206l18.397-19.013C216.749,93.1,216.749,88.485,213.937,85.577z M124.323,205.835   c-2.11-1.055-4.595-1.056-6.707,0l-32.939,16.464v-49.605l2.604,4.909c1.896,3.575,6.288,5,9.92,3.222l23.769-11.624l23.762,11.624   c1.06,0.518,2.184,0.764,3.291,0.764c2.69,0,5.286-1.454,6.63-3.985l2.604-4.905v49.6L124.323,205.835z M182.209,107.225   c-1.609,1.663-2.36,3.975-2.036,6.266l3.203,22.651l-22.521,3.949c-2.278,0.399-4.245,1.828-5.33,3.871l-10.721,20.2   l-20.539-10.047c-1.04-0.508-2.168-0.763-3.296-0.763c-1.128,0-2.256,0.254-3.295,0.763L97.13,164.162l-10.717-20.199   c-1.084-2.044-3.051-3.473-5.33-3.872l-22.526-3.949l3.202-22.652c0.324-2.29-0.427-4.603-2.036-6.265L43.822,90.791l15.902-16.436   c1.608-1.663,2.359-3.975,2.035-6.265l-3.202-22.637l22.526-3.949c2.279-0.399,4.246-1.829,5.331-3.873l10.717-20.205l20.545,10.04   c2.078,1.016,4.509,1.016,6.587,0l20.539-10.04l10.723,20.206c1.084,2.043,3.051,3.472,5.33,3.872l22.521,3.948l-3.203,22.637   c-0.324,2.291,0.427,4.603,2.035,6.266l15.902,16.436L182.209,107.225z" fill="#D80027"/>
	<path d="M120.969,39.507c-28.283,0-51.293,23.006-51.293,51.285c0,28.285,23.01,51.296,51.293,51.296   c28.279,0,51.286-23.011,51.286-51.296C172.255,62.513,149.248,39.507,120.969,39.507z M120.969,127.088   c-20.012,0-36.293-16.282-36.293-36.296c0-20.008,16.281-36.285,36.293-36.285c20.008,0,36.286,16.277,36.286,36.285   C157.255,110.806,140.977,127.088,120.969,127.088z" fill="#D80027"/>
	<path d="M136.258,71.765l-22.155,22.15l-8.431-8.421c-2.93-2.928-7.679-2.925-10.607,0.006c-2.927,2.931-2.924,7.679,0.007,10.606   l13.733,13.718c1.464,1.463,3.382,2.194,5.3,2.194c1.919,0,3.839-0.732,5.303-2.196l27.455-27.449   c2.93-2.928,2.93-7.677,0.001-10.607C143.936,68.837,139.187,68.836,136.258,71.765z" fill="#D80027"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg></div>
                {{/if}}
                <div class="statistic">
                    <div class="stat-item"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="456.793px" height="456.793px" viewBox="0 0 456.793 456.793" style="enable-background:new 0 0 456.793 456.793;"
	 xml:space="preserve">
<g>
	<g>
		<path d="M448.947,218.474c-0.924-1.168-23.057-28.933-61-56.81c-50.707-37.253-105.879-56.944-159.551-56.944
			c-53.673,0-108.845,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.396l7.845,9.923
			c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.878,56.943,159.551,56.943c53.672,0,108.844-19.691,159.551-56.943
			c37.943-27.877,60.076-55.643,61-56.811l7.846-9.923L448.947,218.474z M368.273,269.874
			c-31.354,22.9-81.072,50.199-139.877,50.199s-108.524-27.299-139.877-50.199c-21.516-15.715-37.641-31.609-46.834-41.478
			c9.197-9.872,25.32-25.764,46.833-41.478c31.354-22.901,81.072-50.2,139.877-50.2c58.804,0,108.525,27.299,139.876,50.2
			c21.516,15.715,37.641,31.609,46.834,41.477C405.91,238.268,389.785,254.161,368.273,269.874z"/>
		<path d="M228.396,160.728c-16.416,0-31.465,5.849-43.183,15.572c9.273,2.715,16.049,11.279,16.049,21.431
			c0,12.334-9.999,22.333-22.333,22.333c-6.482,0-12.316-2.764-16.396-7.174c-1.168,4.982-1.807,10.169-1.807,15.507
			c0,37.373,30.297,67.669,67.67,67.669c37.372,0,67.668-30.296,67.668-67.669S265.77,160.728,228.396,160.728z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg> <span>{{this.views}}</span></div>
                    <div class="stat-item"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
	<g>
		<path d="M83.578,167.256H16.716C7.524,167.256,0,174.742,0,183.971v300.881c0,9.225,7.491,16.713,16.716,16.713h66.862
			c9.225,0,16.716-7.489,16.716-16.713V183.971C100.294,174.742,92.769,167.256,83.578,167.256z"/>
	</g>
</g>
<g>
	<g>
		<path d="M470.266,167.256c-2.692-0.456-128.739,0-128.739,0l17.606-48.032c12.148-33.174,4.283-83.827-29.424-101.835
			c-10.975-5.864-26.309-8.809-38.672-5.697c-7.09,1.784-13.321,6.478-17.035,12.767c-4.271,7.233-3.83,15.676-5.351,23.696
			c-3.857,20.342-13.469,39.683-28.354,54.2c-25.952,25.311-106.571,98.331-106.571,98.331v267.45h278.593
			c37.592,0.022,62.228-41.958,43.687-74.749c22.101-14.155,29.66-43.97,16.716-66.862c22.102-14.155,29.66-43.97,16.716-66.862
			C527.572,235.24,514.823,174.792,470.266,167.256z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg> <span>{{this.rating}}</span></div>
                </div>
            </a>
        {{/each}}
    </main>

</div>

<script src="/scripts/jquery-3.2.1.min.js"></script>
<script src="/scripts/baseFeeds.js"></script>
<script src="/scripts/preloaders.js"></script>


</body>
</html>

